@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing        : 265ms;
$iconColor     : #2F1050;
$accent        : #160627;
$iconHoverColor: #0067FA;
$hoverAccent   : #002A8F;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

.contactForm {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.col_white_amrc { 
    color: #FFF;
    font-family: var(--mplusrounded);
    font-size: 22px;
}

.footer {
    width: 100%; 
    background-color: #1e0b33; 
    min-height: 250px; 
    padding:50px 0px 1px 0px;
}

.pt2 { 
    padding-top:40px; 
    margin-bottom:20px;
}

footer p { 
    font-size:13px; 
    color:#FFF; 
    padding-bottom:0px; 
    margin-bottom:8px;
}

.mb10 { 
    padding-bottom:15px;
}

.submit {
    float: right;
    clear: right;
    margin-top: 10px;
}

.bottom_border { 
    border-bottom: 1px solid #321057; 
    padding-bottom: 50px;
}

.copyright{
    font-family: var(--rosarivo);
    font-size: 14px;
    color: #FFF;
}

// SOCIALS
.social-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;
      
        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }
        
        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }
        
        &:hover i {
            @include transformScale(2.2);
            color: $iconHoverColor;
            background: -webkit-linear-gradient(45deg, $iconHoverColor, $hoverAccent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
  
}

